html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  width: 100%;
  color: white;
}

/* Hero */

@keyframes animatedBackground {
	from { background-position: 35% 0; }
	to { background-position: center 0; }
}

.hero {
  margin: 0px;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('../images/hero1.jpg') no-repeat center center;
  background-size: cover;
  z-index: -10;

  animation: animatedBackground 4s linear;
}

.hero img{
  position: absolute;
  top: 0;
}

.explore{
  position: absolute;
  bottom: 20%;
  left: 30%;
  right: 30%;
  width: 40%;
  color: white;
  text-align: center;
  box-shadow: 0px 0px 5px 0px white;
  font-family: 'Rubik Mono One', sans-serif;
  background: rgb(14, 16, 23);
  border-radius: 50px;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}
a{
  color:white;
  text-decoration:none;
}
.content {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: rgb(16, 14, 23);
  display: grid;
  place-items: center;
  overflow-x: hidden;
  font-family: 'Courgette', cursive;
}

.cards {
  display: flex;
  width: 80%;
  height: 80%;
}

.card {
  width: 40%;
  height: 70%;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
  position: relative;
}

.card h3 a {
  text-decoration: none;
  color: white;
  background-color: rgb(14, 16, 23);
  padding: 8px;
  border-radius: 5px;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.card:not(:first-child) {
  margin-left: -10rem;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(10rem);
}

#card0 {
  background: url('../images/clubs.jpg') no-repeat center center;
  background-size: cover;
}

#card1 {
  background: url('../images/SC.jpg') no-repeat center center;
  background-size: cover;
}

#card2 {
  background: url('../images/gdcf.jpg') no-repeat center center;
  background-color: white;
  background-size: contain;

}

#card2 h2{
  color: rgb(14, 16, 23);
}

#card3 {
  background: url('../images/NCC1.jpg') no-repeat center center;
  background-size: cover;
  color: black;
}

#card4 {
  background: url('../images/nss.jpg') no-repeat center center;
  background-size: cover;
  color: black;
}

#card5 {
  background: url('../images/sac.jpg') no-repeat center center;
  background-color: rgb(14, 16, 23);
  background-size: contain;
}

#card6 {
  background: url('../images/Smns.jpg') no-repeat center center;
  background-color: white;
  background-size: contain;
}

#card7 {
  background: url('../images/placements.jpg') no-repeat center center;
  background-size: cover;
}

#card8 {
  background: url('../images/sports.jpg') no-repeat center center;
  background-size: cover;
}

.custombutton {
  font-size: 16px;
  color: white;
  background-color: rgb(16, 14, 23);
  border-radius: 20px;
  padding: 15px;
  font-family: 'Permanent Marker', cursive;
}

footer{
  height: 8%;
  display: flex;
  justify-content: center;
  color: white;
  background: rgb(14, 16, 23);
  font-family: 'Courgette', cursive;
  font-size: 20px;
  padding-bottom: 2%;
}

footer h3{
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 500px) {

  .hero img{
    position: absolute;
    width: 25%;
    height: 10%;
    top: 0;
  }

  .content {
    overflow: auto;
  }

  .card {
    width: 55vw;
  }

  .card:not(:first-child) {
    margin-left: -5rem;
  }

  .card:hover~.card {
    transform: translateX(5rem);
  }

  .hero {
    width: 100vw;
  }
}
