@media screen and (min-width: 320px) and (max-width: 500px) {
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: white;
  }

  /* Cover CSS */
  .cover {
    width: 100%;
    height: 40%;
    position: relative;
    background: url('../images/1.jpg') no-repeat center center;
    background-size: cover;
    font-family: 'flood-std', sans-serif;
    font-weight: 500;
    font-size: 110%;
    font-style: normal;
  }

  .cover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  .cover h1 {
    margin: 0;
    color: black;
    position: absolute;
  }

  .cover #cover-text-1 {
    bottom: 53%;
    right: 8%;
    font-size:30px;
    transform: rotate(-30deg);
  }

  .cover #cover-text-2 {
    bottom: 43%;
    right: 11%;
    font-size: 30px;
    transform: rotate(-30deg);
  }

  /* Cards CSS */

  .card{
    width: 88%;
    max-height: 100%;
    margin: 2%;
    padding: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px black;
    color: white;
    background-color: rgb(14, 16, 23);
  }

  .card h1{
    padding: 3%;
    margin: 0;
    color: #F0806C;
    font-family: 'Courgette', cursive;
  }

  .card h3{
    padding: 3%;
    margin: 0;
    color: white;
    font-family: 'Courgette', cursive;
  }

  /* Contact CSS */
  .contact{
      margin: 2%;
      padding: 0;
      display: flex;
      justify-content:center;
      align-items: center;
      min-height: 70%;
      width: 96%;
      border-radius: 10px;
      background: rgb(14, 16, 23);
      font-family: sans-serif;
    }
    .box{
      width: 1200px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-gap: 15px;
      margin: 0 auto;
    }
    .ccard{
      position: relative;
      width: 300px;
      height: 350px;
      background: #fff;
      margin: 0 auto;
      border-radius: 4px;
      box-shadow:0 2px 10px rgba(0,0,0,.2);
    }
    .ccard:before,
    .ccard:after
    {
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background: #fff;
      transition: 0.5s;
      z-index:-1;
    }
    .ccard:hover:before{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    }
    .ccard:hover:after{
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    }
    .ccard .imgBx{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
    }

    .ccard:hover .imgBx
    {
      bottom: 80px;
    }

    .ccard .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .ccard .details{
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        height: 60px;
        text-align: center;
    }

    .ccard .details h2{
     margin: 0;
     padding: 0;
     font-weight: 600;
     font-size: 20px;
     color: #777;
     text-transform: uppercase;
    }

    .ccard .details h2 span{
    font-weight: 500;
    font-size: 16px;
    color: #f38695;
    display: block;
    margin-top: 5px;
    }

    footer{
      height: 8%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: white;
      background: rgb(14, 16, 23);
      font-family: 'Courgette', cursive;
      font-size: 20px;
      padding-bottom: 2%;
      padding-top: 2%;
    }

    footer h3{
      color: white;
      margin: 0;
    }

}
