@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* Universal */
body {
  margin: 0;
  display: grid;
  place-items: center;
  scroll-snap-type: y mandatory;
  font-family: 'Oswald', cursive;
  color: rgb(14, 16, 23);
  overflow-x: hidden;
}

h2 {
  margin: 0;
  width: 10%;
  padding: 1%;
  border: 5px solid;
}

/* Cover */
.cover {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bglight.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
}

/* About */
.about {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(14, 16, 23);
  background-image: url('../images/bgdark.png');
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
}

.about p {
  width: 60%;
}

.members {
  width: 60%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.member {
  width: 40%;
  background: white;
  background-image: url('../images/bglight.png');
  color: rgb(14, 16, 23);
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 0px 15px;
}

.memberimage {
  width: 30%;
  display: grid;
  place-items: center;
}

.memberimage img {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 70%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 5px;
}

.memberdetails {
  text-align: start;
  width: 70%;
}

.memberdetails h2 {
  width: 90%;
}

.memberdetails p {
  margin: 15px;
  width: 90%;
}

/* Events */
.events {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../images/bglight.png');
  scroll-snap-align: start;
}

.events p {
  width: 60%;
}

/* Gallery */
.gallery {
  margin: 0;
  width: 100vw;
  padding-bottom: 5%;
  background: rgb(14, 16, 23);
  background-image: url('../images/bgdark.png');
  color: black;
  text-align: center;
  scroll-snap-align: start
}

.galhead {
  color: white;
  width: 100vw;
  height: 20vh;
  display: grid;
  place-items: center;
}

.galbody {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galitem {
  width: 20vw;
  height: 20vw;
  margin: 1.25vw;
  overflow: hidden;
  border-radius: 20px;
  transition: 1s;
}

.galitem:hover .imageholder{
  transform: scale(1.1);
}

.imageholder {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 20px;
  box-shadow: 0px 5px 15px;
  transition: 1s;
}

.imageholder h3{
  opacity: 0;
}

.galitem:hover .imageholder h3{
  opacity: 1;
}

.galitem1 {
  background: url('../images/fulls/01.jpg') no-repeat center center;
  background-size: cover;
}

.galitem2 {
  background: url('../images/fulls/02.jpg') no-repeat center center;
  background-size: cover;
}

.galitem3 {
  background: url('../images/fulls/03.jpg') no-repeat center center;
  background-size: cover;
}

.galitem4 {
  background: url('../images/fulls/04.jpg') no-repeat center center;
  background-size: cover;
}

.galitem5 {
  background: url('../images/fulls/05.jpg') no-repeat center center;
  background-size: cover;
}

.galitem6 {
  background: url('../images/fulls/06.jpg') no-repeat center center;
  background-size: cover;
}

.galitem7 {
  background: url('../images/fulls/07.jpg') no-repeat center center;
  background-size: cover;
  transition: 1s;
}

.galitem8 {
  background: url('../images/fulls/08.jpg') no-repeat center center;
  background-size: cover;
}

.galitem9 {
  background: url('../images/fulls/09.jpg') no-repeat center center;
  background-size: cover;
}

.galitem10 {
  background: url('../images/fulls/10.jpg') no-repeat center center;
  background-size: cover;
}

.galitem11 {
  background: url('../images/fulls/11.jpg') no-repeat center center;
  background-size: cover;
}

.galitem12 {
  background: url('../images/fulls/12.jpg') no-repeat center center;
  background-size: cover;
}

footer{
  width: 100%;
  height: 5vh;
  color: white;
  display: flex;
  justify-content: space-around;
  background: rgb(14, 16, 23);
  background-image: url('../images/bgdark.png');
  scroll-snap-align: start;
}

footer a{
  text-decoration: none;
  color: white;
}

footer h3{
  margin: 2%;
}

@media screen and (max-width: 800px) {
  .cover img {
    width: 90%;
    height: auto;
  }

  h2 {
    width: 50%;
    padding: 4%;
  }

  .about p {
    width: 80%;
  }

  .members {
    width: 90%;
    align-items: center;
    flex-direction: column;
  }

  .member {
    margin-top: 5%;
    width: 80%;
  }

  .memberdetails p {
    margin: 10px;
  }

  .events p {
    width: 90%;
  }

  .galitem{
    width: 45vw;
    height: 45vw;
    margin: auto;
    margin-top: 5%;
  }
}
