body {
    margin: 0px;
    width: 100%;
    color: white;
}

/* Hero */
.hero {
    margin: 0px;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../images/cover.jpg") no-repeat center center;
    background-size: cover;
    font-family: "Permanent Marker", cursive;
    z-index: -10;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

.content {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgb(16, 14, 23);
    display: grid;
    place-items: center;
    overflow-x: hidden;
    font-family: "Courgette", cursive;
}

.cards {
    display: flex;
    width: 80%;
    height: 80%;
}

.card {
    width: 50%;
    height: 80%;
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
    position: relative;
}

.card-content {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.card:not(:first-child) {
    margin-left: -10rem;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover ~ .card {
    transform: translateX(10rem);
}

#card0 {
    background: url("../images/acm.png") no-repeat center center;
    background-size: contain;
}

#card1 {
    background: url("../images/ieee.gif") no-repeat center center;
    background-size: contain;
    background-color: rgb(14, 16, 23);
}

#card2 {
    background: url("../images/iedc.jpg") no-repeat center center;
    background-size: contain;
    background-color: rgb(14, 16, 23);
}

#card3 {
    background: url("../images/iete.jpg") no-repeat center center;
    background-size: contain;
    background-color: white;
}

#card3 h2 {
    color: rgb(14, 16, 23);
}

#card4 {
    background: url("../images/issa.png") no-repeat center center;
    background-size: contain;
    background-color: rgb(14, 16, 23);
}

#card5 {
    background: url("../images/race.jpg") no-repeat center center;
    background-size: contain;
    background-color: white;
}

#card5 h2 {
    color: rgb(14, 16, 23);
}

#card6 {
    background: url("../images/uif.jpg") no-repeat center center;
    background-size: contain;
    background-color: white;
}

#card6 h2 {
    color: rgb(14, 16, 23);
}

#card7 {
    background: url("../images/isb.jpg") no-repeat center center;
    background-size: contain;
    background-color: white;
}

#card7 h2 {
    color: rgb(14, 16, 23);
}

#card8 {
    background: url("../images/wiki.png") no-repeat center center;
    background-size: contain;
    background-color: rgb(14, 16, 23);
}

.card h3 a {
    text-decoration: none;
    color: white;
    background-color: rgb(14, 16, 23);
    padding: 8px;
    border-radius: 5px;
}

footer {
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background: rgb(14, 16, 23);
    font-family: "Courgette", cursive;
    font-size: 20px;
    padding-bottom: 2%;
    padding-top: 2%;
}

footer h3 {
    color: white;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .content {
        overflow: auto;
    }

    .card {
        width: 55vw;
    }

    .card:not(:first-child) {
        margin-left: -5rem;
    }

    .card:hover ~ .card {
        transform: translateX(5rem);
    }

    .hero {
        width: 100vw;
    }
}
