@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(14, 16, 23);
    overflow-x: hidden;
    font-family: "Oswald", sans-serif;
}

.members {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.members-main {
    height: 70%;
}

.heading {
    height: 20%;
    display: grid;
    place-items: center;
    letter-spacing: 3px;
}

.heading h1 {
    margin: 0;
}

.members-view {
    height: 80%;
    display: grid;
    place-items: center;
}

.member {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.member-picture {
    height: 18vh;
    width: 18vh;
    border-radius: 25%;
    box-shadow: 0 35px 150px #777;
    align-self: center;
}

#pic1 {
    background: url("../images/P1.jpg") center;
    background-size: cover;
}

#pic2 {
    background: url("../images/P2.jpg") center;
    background-size: cover;
}

.member-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

.member-details h2 {
    margin: 0;
}

.member-details h3 {
    color: #777;
    font-size: 1em;
    margin: 0;
    margin-top: 0.4em;
}

.departments-holder {
    margin: 0;
    width: 100%;
    height: 30vh;
    display: grid;
    place-items: center;
    overflow-x: auto;
}

.departments {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
}

.department {
    position: relative;
    width: 72vw;
    height: 16vh;
    background: white;
    border-radius: 20px;
    margin-right: 2em;
    box-shadow: 0 35px 90px #777;
    text-align: start;
}

.department:first-child {
    margin-left: -4.5%;
}

.department h3 {
    font-size: 2em;
    margin-left: 10%;
}

.department-active .department-indicator {
    position: absolute;
    background: greenyellow;
    top: 13%;
    right: 7%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: dai 0.5s infinite alternate;
}

@keyframes dai {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

.department-members {
    position: absolute;
    width: 20vh;
    bottom: 10%;
    left: 10%;
    display: flex;
}

.department-member {
    width: 5vh;
    height: 5vh;
    background: rgb(14, 16, 23);
    border-radius: 25%;
    margin-right: 1vh;
}

.hidden-details {
    display: none;
}

#d1 #dm1 {
    background: url("../images/P1.jpg") center center;
    background-size: cover;
}

#d1 #dm2 {
    background: url("../images/P2.jpg") center center;
    background-size: cover;
}

#d2 #dm1 {
    background: url("../images/A1.jpg") center center;
    background-size: cover;
}

#d2 #dm2 {
    background: url("../images/A2.jpg") center center;
    background-size: cover;
}

#d3 #dm1 {
    background: url("../images/PR2.jpg") center center;
    background-size: cover;
}

#d3 #dm2 {
    background: url("../images/PR1.jpg") center center;
    background-size: cover;
}
#d4 #dm1 {
    background: url("../images/DND1.jpg") center center;
    background-size: cover;
}

#d4 #dm2 {
    background: url("../images/DND2.jpg") center center;
    background-size: cover;
}
#d5 #dm1 {
    background: url("../images/PL1.jpg") center center;
    background-size: cover;
}

#d5 #dm2 {
    background: url("../images/PL2.jpg") center center;
    background-size: cover;
}
#d6 #dm1 {
    background: url("../images/D1.jpg") center center;
    background-size: cover;
}

#d6 #dm2 {
    background: url("../images/D1.jpg") center center;
    background-size: cover;
}
#d7 #dm1 {
    background: url("../images/SW1.jpg") center center;
    background-size: cover;
}

#d7 #dm2 {
    background: url("../images/SW2.jpg") center center;
    background-size: cover;
}
#d8 #dm1 {
    background: url("../images/AL1.jpg") center center;
    background-size: cover;
}

#d8 #dm2 {
    background: url("../images/AL2.jpg") center center;
    background-size: cover;
}
#d9 #dm1 {
    background: url("../images/C1.jpg") center center;
    background-size: cover;
}

#d9 #dm2 {
    background: url("../images/C2.jpg") center center;
    background-size: cover;
}
#d10 #dm1 {
    background: url("../images/E1.jpg") center center;
    background-size: cover;
}

#d10 #dm2 {
    background: url("../images/E2.jpg") center center;
    background-size: cover;
}
#d11 #dm1 {
    background: url("../images/T2.jpg") center center;
    background-size: cover;
}

#d11 #dm2 {
    background: url("../images/T2.jpg") center center;
    background-size: cover;
}

@media screen and (min-width: 800px) {
    .members {
        display: flex;
    }

    .members-main {
        width: 75%;
        height: 100%;
    }

    .member-details {
        margin-left: -25%;
    }

    .departments-holder {
        height: 100%;
        width: 30vw;
    }

    .departments {
        height: 100%;
        width: 100%;
        display: flex;
        overflow-y: auto;
        flex-direction: column;
    }

    .department {
        position: relative;
        display: flex;
        width: 20vw;
        height: 36vh;
        background: white;
        border-radius: 20px;
        margin-top: 10%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: start;
    }

    .department:first-child {
        margin-left: 0%;
    }

    .department-members {
        position: relative;
        left: 5%;
        bottom: -12%;
    }

    .department h3 {
        font-size: 1.3em;
        margin-left: 10%;
    }
}
