body {
  margin: 0px;
  width: 100%;
  color: white;
}
a{
  color:#F0806C;
  text-decoration:none;
}
/* Hero */
.hero {
  margin: 0px;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('../images/cover.jpg') no-repeat center center;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
  z-index: -10;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}

.content {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: rgb(16, 14, 23);
  display: grid;
  place-items: center;
  overflow-x: hidden;
  font-family: 'Courgette', cursive;
}

.cards {
  margin-left: -15%;
  display: flex;
  width: 80%;
  height: 80%;
}

.card {
  width: 50%;
  height: 80%;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
  position: relative;
}

.card-content {
  color: white;
  position: absolute;
  bottom: 0;
  left: 20px;
}
.card:not(:first-child) {
  margin-left: -10rem;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(10rem);
}

#card0 {
  background: url('../images/animationclub.png') no-repeat center center;
  background-size: cover;
}

#card1 {
  background: url('../images/culinary.png') no-repeat center center;
  background-size: cover;
}

#card2 {
  background: url('../images/dance.jpg') no-repeat center center;
  background-size: cover;
}

#card3 {
  background: url('../images/li.jpg') no-repeat center center;
  background-size: cover;
}

#card4 {
  background: url('../images/movie1.jpg') no-repeat center center;
  background-size: cover;
}

#card5 {
  background: url('../images/music.jpg') no-repeat center center;
  background-size: cover;
}

#card6 {
  background: url('../images/painting.jpg') no-repeat center center;
  background-size: cover;
}

#card7 {
  background: url('../images/photography.jpg') no-repeat center center;
  background-size: cover;
}

#card8 {
  background: url('../images/SAP1.jpg') no-repeat center center;
  background-size: cover;
}

#card9 {
  background: url('../images/theater.jpg') no-repeat center center;
  background-size: cover;
}

#card10 {
  background: url('../images/tel.jpg') no-repeat center center;
  background-size: cover;
}

#card11 {
  background: url('../images/yoga.jpg') no-repeat center center;
  background-size: cover;
}

#card12 {
  background: url('../images/ma.jpg') no-repeat center center;
  background-size: cover;
}

footer{
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  background: rgb(14, 16, 23);
  font-family: 'Courgette', cursive;
  font-size: 20px;
  padding-bottom: 2%;
  padding-top: 2%;
}

footer h3{
  color: white;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .content {
    overflow: auto;
  }

  .card {
    width: 90vw;
  }

  .card:not(:first-child) {
    margin-left: -5rem;
  }

  .card:hover~.card {
    transform: translateX(5rem);
  }

  .hero {
    width: 100vw;
  }
}
