@import url('https://fonts.googleapis.com/css?family=Caveat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

/* Cover body */

body{
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'caveat', cursive;
  overflow-x: hidden;
  background: white;
  scroll-behavior: smooth;
}
.cover{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1{
  font-size: 3em;
  font-weight: 1000;
  margin: 0;
}

.heading{
  height: 5%;
  align-self: flex-start;
  margin-left: 5%;
}

.card{
  height: 35%;
  width: 90%;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 10px 6px -6px #777;
}

.card .details{
  width: 50%;
  margin-left: 5%;
}

.card .imageholder{
  height: 100%;
  width: 45%;
}

.card h2{
  font-size: 2em;
}

.card p{
  font-size: 1.3em;
}

.card h3{
  font-size: 2em;
}

.indoor{
  color: white;
  background: rgb(14, 16, 23);
  flex-direction: row-reverse;
}

.indoor .imageholder{
  background: url('../images/chess1.png') no-repeat center center;
  background-size: contain;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.outdoor{
  background: #fce1e1;
  background-image: url('../images/dust.png');
}

.outdoor .imageholder{
  background: url('../images/outdoor.png') no-repeat center center;
  background-size: cover;
}

.events{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  color: white;
  font-size: 12px;
  font-family: 'Rubik Mono One', sans-serif;
  background: url('../images/17.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 10px 6px -6px #777;
  transition: 2s;
}

.events h1{
  opacity: 0;
}

.events-overlay{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 20px;
  transition: 2s;
}

.events:hover .events-overlay{
  background-color: rgb(0, 0, 0, 0.8);
}

.events:hover h1{
  opacity: 1;
}

.achievements{
  width: 90%;
  height: 30vh;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  font-size: 12px;
  font-family: 'Rubik Mono One', sans-serif;
  background: url('../images/18.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 10px 6px -6px #777;
  transition: 2s;
}

.achievements h1{
  opacity: 0;
  font-size: 2em;
  padding: 1em;
}

.achievements ul{
  opacity: 0;
}

.achievements-overlay{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 2s;
}

.achievements:hover .achievements-overlay{
  background-color: rgb(0, 0, 0, 0.8);
}

.achievements:hover h1{
  opacity: 1;
}

.achievements:hover ul{
  opacity: 1;
}

.gallery {
  margin: 0;
  width: 100vw;
  /* background: rgb(14, 16, 23); */
  /* background-image: url('../images/bgdark.png'); */
  color: black;
  text-align: center;
  padding-bottom: 5%;
  scroll-snap-align: start;
}

.galhead {
  width: 100vw;
  height: 20vh;
  display: grid;
  place-items: center;
}

.galbody {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galitem {
  width: 20vw;
  height: 20vw;
  margin: 1.25vw;
  overflow: hidden;
  border-radius: 20px;
  transition: 1s;
}

.galitem:hover .imgholder{
  transform: scale(2);
}

.imgholder {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 20px;
  box-shadow: 0px 5px 15px;
  transition: 1s;
}

.imgholder h3{
  opacity: 0;
}

.galitem:hover .imgholder h3{
  opacity: 1;
}

.galitem1 {
  background: url('../images/fulls/01.jpg') no-repeat center center;
  background-size: cover;
}

.galitem2 {
  background: url('../images/fulls/02.jpg') no-repeat center center;
  background-size: cover;
}

.galitem3 {
  background: url('../images/fulls/03.jpg') no-repeat center center;
  background-size: cover;
}

.galitem4 {
  background: url('../images/fulls/04.jpg') no-repeat center center;
  background-size: cover;
}

.galitem5 {
  background: url('../images/fulls/05.jpg') no-repeat center center;
  background-size: cover;
}

.galitem6 {
  background: url('../images/fulls/06.jpg') no-repeat center center;
  background-size: cover;
}

.galitem7 {
  background: url('../images/fulls/07.jpg') no-repeat center center;
  background-size: cover;
  transition: 1s;
}

.galitem8 {
  background: url('../images/fulls/08.jpg') no-repeat center center;
  background-size: cover;
}

.galitem9 {
  background: url('../images/fulls/09.jpg') no-repeat center center;
  background-size: cover;
}

.galitem10 {
  background: url('../images/fulls/10.jpg') no-repeat center center;
  background-size: cover;
}

.galitem11 {
  background: url('../images/fulls/11.jpg') no-repeat center center;
  background-size: cover;
}

.galitem12 {
  background: url('../images/fulls/12.jpg') no-repeat center center;
  background-size: cover;
}

footer{
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Courgette', cursive;
  font-size: 20px;
  padding-bottom: 2%;
  padding-top: 2%;
}

footer h3{
  margin: 0;
}

footer a{
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .outdoor .imageholder{
    background-size: contain;
  }

  .events{
    height: 80vh;
  }

  .achievements{
    height: 80vh;
    background: url('../images/18.jpg') no-repeat top center;
  }
}
